// Главные цвета
$primary-color: #000000;
$secondary-color: #F7931A;

// Цвета для названий
$light-gray: #999999;
$white-text-btn: #ffffff;

// Цвета кнопок
$secondary-orange-btn: #f7931A;
$dark-gray-color: #333333;

// Вспомогательные цвета
$light-green: #6ccf59;
$dark-green: rgb(52 179 73 / 10%);
$light-red: #ff4d4d;
$dark-red: rgb(240 41 52 / 10%);
$dark-gray-transperant: #99999955;
$light-blue: #edfdff;


// Тени
$primary-shadow: 4px 9px 30px -16px #000;
$shadow-btn: 4px 9px 22px -12px #000;

// Настройки для свечения
@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

// Цвета свечения
$gr-clr-1: #edfdff;
$gr-clr-2: #bcf8ff;
$gr-clr-3: #bcfffe;
$gr-clr-4: #cdf7fd;
$gr-clr-5: #d7fbff;