@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: #000;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

select {
  border: none;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

input[type=file] {
  display: none;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.header {
  margin-top: 15px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-nav {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 4px 9px 30px -16px #000;
}

.header__logo {
  cursor: pointer;
}

.header__nav {
  margin-left: 50px;
}

.header__nav-list {
  display: flex;
}

.header__nav-list-item {
  font-weight: 300;
}
.header__nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.header__nav-list-item a {
  color: #000000;
}
.header__nav-list-item a:hover {
  color: #F7931A;
  border-bottom: 1px solid #F7931A;
}

.header__search {
  padding: 5px 10px;
  border-radius: 30px;
  box-shadow: 4px 9px 30px -16px #000;
}

#header__search-input {
  padding: 5px 10px;
  border-radius: 20px;
}

.header__search-profile {
  display: flex;
  position: relative;
  align-items: center;
}

.header-profile {
  margin-left: 20px;
}

.header-profile__img {
  background-color: #333333;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}
.header-profile__img:hover {
  box-shadow: 0px 0px 0px 4px rgba(153, 153, 153, 0.3333333333);
}

#mainAvatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header-profile__dropdown {
  display: none;
}

.visible {
  display: block;
}

.header-profile__dropdown {
  padding: 10px;
  position: absolute;
  right: 45px;
  top: 80px;
  background-color: #333333;
  border-radius: 20px;
  box-shadow: 4px 9px 30px -16px #000;
  white-space: nowrap;
}

.header-profile__dropdown-items {
  display: flex;
  flex-direction: column;
}

.header-profile__dropdown-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 80px 10px 45px;
  color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}
.header-profile__dropdown-item:not(:last-child) {
  margin-bottom: 10px;
}
.header-profile__dropdown-item:hover {
  background-color: #999999;
}
.header-profile__dropdown-item:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 5px;
  text-align: left;
}
.header-profile__dropdown-item[data-action=profile]::before {
  background: url(../img/myProfile.svg) 0px 0px no-repeat;
  background-size: cover;
}
.header-profile__dropdown-item[data-action=search]::before {
  background: url(../img/searchCoin.svg) 0px 0px no-repeat;
  background-size: cover;
}
.header-profile__dropdown-item[data-action=favorites]::before {
  background: url(../img/favoriteCoin.svg) 0px 0px no-repeat;
  background-size: cover;
}
.header-profile__dropdown-item[data-action=settings]::before {
  background: url(../img/settings.svg) 0px 0px no-repeat;
  background-size: cover;
}
.header-profile__dropdown-item[data-action=logout]::before {
  background: url(../img/logout.svg) 0px 0px no-repeat;
  background-size: cover;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.hero {
  margin-top: 100px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: 600;
}

.hero__title {
  max-width: 1000px;
}

.hero__subtitle {
  margin-top: 25px;
  font-size: 30px;
  font-weight: 600;
}

.hero-starts__buttons-container {
  margin-top: 50px;
}

.hero-starts__button {
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 4px 9px 30px -16px #000;
  transition: transform 0.4s ease;
}
.hero-starts__button:hover {
  transform: scale(1.05);
}

.hero-starts__button-start {
  display: initial;
  position: relative;
  border: 1px solid #F7931A;
  color: #333333;
  margin-right: 15px;
}
.hero-starts__button-start::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #F7931A;
  transition: width 0.3s ease;
  z-index: -1;
  border-radius: 20px;
}
.hero-starts__button-start:hover::after {
  width: 100%;
}
.hero-starts__button-start:hover {
  color: #ffffff;
}

.hero-starts__button-more {
  background-color: #333333;
  color: #ffffff;
}
.hero-starts__button-more::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #fff;
  transition: width 0.3s ease;
  z-index: -1;
}
.hero-starts__button-more::before {
  content: "";
  opacity: 0;
}
.hero-starts__button-more:hover::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 63px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 5px solid #333333;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.hero-starts__button-more:hover::after {
  width: 100%;
}
.hero-starts__button-more:hover {
  color: #333333;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.cryptolist {
  font-family: "Oxanium";
  margin-top: 130px;
}

.cryptolist__title {
  font-size: 30px;
  font-family: Poppins;
}

.cryptolist__coins {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cryptolist__coin {
  display: flex;
  flex: 0 1 32.333%;
  min-width: 250px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 18px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 4px 9px 30px -16px #000;
}

.cryptolist__column {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cryptolist__column-title {
  margin-bottom: 30px;
  color: #999999;
}

.cryptolist__coin-icon-name {
  display: flex;
  align-items: center;
}

#coinIcon {
  width: 25px;
  height: 25px;
}

.cryptolist__coin-name {
  margin-left: 5px;
  font-size: 22px;
}
.cryptolist__coin-name span {
  font-size: 14px;
  color: #999999;
}
.cryptolist__coin-name span::before {
  content: "• ";
  font-family: Arial;
}

.cryptolist__price-change-badge {
  display: flex;
  justify-content: center;
}

.price-change {
  padding: 4px;
  font-size: 14px;
  border-radius: 8px;
}

.price-change-up {
  color: #6ccf59;
  background-color: rgba(52, 179, 73, 0.1);
}
.price-change-up::before {
  content: "▲";
}

.price-change-down {
  color: #ff4d4d;
  background-color: rgba(240, 41, 52, 0.1);
}
.price-change-down::before {
  content: "▼";
}

.features {
  margin-top: 100px;
}

.features__title {
  font-size: 30px;
}

.features__content {
  font-family: Oxanium;
  font-size: 20px;
}

.features__what {
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__what-inner {
  max-width: 600px;
  box-shadow: 4px 9px 30px -16px #000;
  padding: 20px;
  border-radius: 20px;
}

.features__what-title {
  font-size: 25px;
  text-transform: uppercase;
}

.orange {
  color: #F7931A;
}

.features__what-subtitle {
  margin-top: 10px;
  color: #333333;
}

.features__what-text {
  margin-top: 10px;
  color: #999999;
}

.features__advantages {
  margin-top: 50px;
}

.features__advantages-title {
  font-size: 25px;
  text-transform: uppercase;
}

.features__advantages-text {
  display: inline-flex;
  margin-top: 10px;
  padding: 15px;
  color: #edfdff;
  background-color: #333333;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 20px;
}

.features__advatages-list {
  margin-top: 30px;
}

.features__advantages-list-item {
  max-width: 500px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 20px;
}
.features__advantages-list-item:not(:first-child) {
  margin-top: 20px;
}
.features__advantages-list-item::before {
  content: "▶";
  margin-right: 5px;
  color: #F7931A;
  font-size: 14px;
}

.converter {
  margin-top: 100px;
}

.converter__title {
  font-size: 30px;
}

.converter__form-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 4px 9px 30px -16px #000;
  padding: 20px;
  border-radius: 20px;
}

#converterForm {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
#converterForm select {
  padding: 15px;
}
#converterForm label {
  font-size: 18px;
}
#converterForm select {
  cursor: pointer;
}
#converterForm select,
#converterForm option {
  font-family: Oxanium;
  font-size: 20px;
}

.converter-amount__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.amount__label {
  margin-bottom: 10px;
}

.input {
  padding-left: 5px;
  border-bottom: 1px solid #333333;
}
.input::-moz-placeholder {
  color: #999;
}
.input::placeholder {
  color: #999;
}

#amount {
  max-width: 200px;
}

.amount-length-error {
  border-bottom: 1px solid #ff4d4d !important;
}

.error-message-length {
  color: #ff4d4d;
}

.converter-from-currency__inner {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#fromCurrency {
  margin-top: 10px;
  box-shadow: 0px 14px 35px -20px #000;
}

.converter-from-to-currency-flex {
  display: flex;
  justify-content: space-between;
}

.converter-to-currency__inner {
  margin-top: 50px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

#toCurrency {
  margin-top: 10px;
  box-shadow: 0px 14px 35px -20px #000;
}

.convert-result__button-inner {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

#convertButton {
  padding: 10px 15px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.4s ease, color 0.4s ease;
  box-shadow: 4px 9px 22px -12px #000;
  min-width: 400px;
}
#convertButton:hover {
  background-color: #ffffff;
  color: #333333;
}

.converter-result__text {
  margin-top: 30px;
  font-size: 18px;
}

#converterResult {
  font-family: Oxanium;
  font-size: 18px;
}

.loader {
  width: -moz-fit-content;
  width: fit-content;
  font-family: Poppins;
  -webkit-clip-path: inset(0 2ch 0 0);
          clip-path: inset(0 2ch 0 0);
  animation: loading 1s steps(4) infinite;
}

.loader:before {
  content: "Loading . . .";
}

@keyframes loading {
  to {
    -webkit-clip-path: inset(0 -1ch 0 0);
            clip-path: inset(0 -1ch 0 0);
  }
}
.news {
  margin-top: 100px;
}

.news__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

.news__inner {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  border-radius: 20px;
  gap: 20px;
}

.news__item {
  flex: 1 1 32.33%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 20px;
}

.news__description {
  flex-grow: 1;
  margin-top: 15px;
}

.news__img {
  margin-top: 20px;
  position: relative;
  padding-bottom: 40%;
}
.news__img img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  transition: transform 0.4s ease;
}
.news__img img:hover {
  transform: scale(1.05);
}
.news__img img.loaded {
  display: block;
}

.news__date {
  margin-top: 20px;
}

.news__author-learn-more {
  display: flex;
  margin-top: auto;
  margin-top: 15px;
  justify-content: space-between;
}

.news__author {
  color: #999999;
}

.news__more:hover {
  text-decoration: underline;
}

.faq {
  margin-top: 100px;
  margin-bottom: 100px;
}

.faq__title {
  font-size: 30px;
}

.faq__content {
  margin-top: 30px;
}

.faq__item {
  padding: 10px 0;
}

.faq__question {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid #999999;
  cursor: pointer;
}

.faq__icon {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.faq__icon::after, .faq__icon::before {
  content: "";
  position: absolute;
  background-color: #000000;
  transition: transform 0.6s ease;
}
.faq__icon:before {
  width: 20px;
  height: 2px;
  top: 50%;
  left: 0;
}
.faq__icon::after {
  width: 3px;
  height: 21px;
  top: 0px;
  left: 46%;
}

.faq__item.active .faq__icon:after {
  transform: rotate(90deg);
}

.faq__item.active .faq__icon::before {
  transform: rotate(-180deg);
}

.faq__answer {
  max-height: 0;
  margin-top: 10px;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.faq__item.active .faq__answer {
  max-height: 200px;
  padding: 10px 10px;
}

.faq__link {
  color: #F7931A;
}
.faq__link:hover {
  filter: brightness(0.8);
}

.profile {
  margin-top: 15px;
}

.profile__header {
  display: flex;
  justify-content: space-between;
}

.profile__header-logo-text {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 4px 9px 30px -16px #000;
}

.header__text {
  font-family: Oxanium;
  font-weight: 200;
}

.profile__header-text {
  margin-left: 25px;
}

.profile__header-user {
  display: flex;
  align-items: center;
}

.profile__header-user-img {
  background-color: #333333;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 20px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}
.profile__header-user-img:hover {
  box-shadow: 0px 0px 0px 4px rgba(153, 153, 153, 0.3333333333);
}

#profileAvatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile__hero {
  margin-top: 150px;
}

.profile__hero-text {
  max-width: 700px;
}

.profile__hero-subtitle {
  font-size: 30px;
}

.profile__login {
  margin-top: 30px;
}

.profile__login-text {
  font-size: 20px;
}

#login {
  padding: 15px 35px;
  margin-top: 10px;
  background-color: #F7931A;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 4px 9px 22px -12px #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#login:hover {
  background-color: #ffffff;
  color: #000000;
}
#login:focus-visible {
  outline: 2px solid #000000;
}

.profile__auth-modal-acitve {
  visibility: visible !important;
}

.profile__auth-modal-acitve .profile__auth-window {
  transform: translateY(0);
  opacity: 1;
}

.profile__auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow: hidden;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
}

.profile__auth-modal-wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.profile__auth-window {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 15px;
  padding: 50px 15px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 4px 9px 30px -16px #000;
  background: #ffffff;
  border-radius: 20px;
  color: #000000;
  transition: transform 0.3s ease 0s, opacity 0.5s ease;
  transform: translateY(-800px);
}

#modalClose {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #ff4d4d;
}

.profile__auth-title {
  font-size: 20px;
}

.profile__username,
.profile__email,
.profile__avatar,
.profile__favorite-currency {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.profile__username input,
.profile__email input,
.profile__favorite-currency input {
  max-width: 300px;
}

#customUpload {
  position: relative;
  max-width: 77px;
  border-radius: 100%;
}
#customUpload img {
  background: #333333;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#customUpload::before {
  content: "";
  position: absolute;
  background: url(../img/photoAdd.svg) 1px -2px no-repeat;
  background-size: cover;
  width: 24px;
  height: 25px;
  top: 14px;
  left: 14px;
  padding: 22px;
  border-radius: 42%;
  opacity: 0;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
#customUpload:hover::before {
  transform: scale(1.3);
  background-color: #333333;
  opacity: 1;
}

#avatarModal {
  width: 72px;
  height: 70px;
}

.profile__avatar-label {
  pointer-events: none;
  cursor: default;
}

#authSubmit {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.4s ease, color 0.4s ease;
  box-shadow: 4px 9px 22px -12px #000;
}
#authSubmit:hover {
  background-color: #ffffff;
  color: #333333;
}

#authLoading {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1500px;
  z-index: 100;
}
#authLoading::after {
  content: ". . .";
  font-size: 40px;
  position: absolute;
  left: 51%;
  top: 20%;
  color: #000000;
  -webkit-clip-path: inset(0 2ch 0 0);
          clip-path: inset(0 2ch 0 0);
  animation: loading 1s steps(4) infinite;
}

@keyframes loading {
  to {
    -webkit-clip-path: inset(0 -1ch 0 0);
            clip-path: inset(0 -1ch 0 0);
  }
}
.profile__main-content {
  display: none;
  margin-top: 150px;
}

.profile__choise {
  margin-bottom: 50px;
}

.profile__choise-title {
  text-align: center;
  font-size: 30px;
}

.profile__cryptocurrency {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profile__cryptocurrency-coins {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #000000;
  box-shadow: 4px 9px 30px -16px #000;
}

.profile__cryptocurrency-coin {
  max-width: 700px;
  margin-top: 20px;
  padding: 10px 60px 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.profile__cryptocurrency-column {
  flex: 1 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__cryptocurrency-buttons {
  margin-left: 60px;
  position: relative;
}

.delete-add__buttons {
  position: absolute;
  left: -30px;
  top: -10px;
  padding: 5px 15px;
  border-radius: 20px;
  color: #ffffff;
}
.delete-add__buttons:hover {
  opacity: 0.7;
}

.add-coin {
  display: initial;
  padding-right: 33.5px;
  background-color: #6ccf59;
}
.add-coin.inactive {
  display: none;
}

.delete-coin {
  display: none;
  background-color: #ff4d4d;
}
.delete-coin.active {
  display: initial;
}

.more-continue-buttons {
  margin-top: 15px;
}

#moreCoins, #following, #continue {
  background-color: #F7931A;
  color: #ffffff;
  box-shadow: 4px 9px 22px -12px #000;
  opacity: 1;
  padding: 15px 30px;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}
#moreCoins:hover, #following:hover, #continue:hover {
  opacity: 0.6;
}

#continue {
  background-color: #333333;
}

.profile__congrat {
  display: none;
  margin-top: 60px;
  max-width: 50%;
}
.profile__congrat.active {
  display: block;
}

.profile__congrat-title {
  font-size: 30px;
}

.profile__congrat-subtitle {
  margin-top: 10px;
}

#following {
  margin-top: 20px;
  border: 1px solid #333333;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 80px;
}
#following:hover {
  background-color: #333333;
  color: #ffffff;
  opacity: 1;
}

.search {
  margin-top: 15px;
}

.search__header {
  display: flex;
  justify-content: space-between;
}

.search__header-logo-text {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 4px 9px 30px -16px #000;
}

.search__header-text {
  margin-left: 25px;
}

.search__header-user {
  display: flex;
  align-items: center;
}

.serach__header-user-img {
  background-color: #333333;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 20px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}
.serach__header-user-img:hover {
  box-shadow: 0px 0px 0px 4px rgba(153, 153, 153, 0.3333333333);
}

#searchAvatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.search__main-content {
  margin-top: 80px;
}

.search__inner {
  text-align: center;
}

.search__title {
  font-size: 30px;
}

.search__input {
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  position: relative;
  display: inline-block;
  padding: 4px;
  border-radius: 22px;
  background: transparent;
}
.search__input::after {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: inherit;
  background: inherit;
  filter: blur(15px);
  opacity: 0.8;
  z-index: -1;
  opacity: 0;
  background: conic-gradient(from var(--gradient-angle), #edfdff, #bcf8ff, #bcfffe, #cdf7fd, #d7fbff);
  transition: opacity 0.4s ease-in-out;
  animation: rotation 20s linear infinite;
}
.search__input:focus-within::after {
  opacity: 0.8;
}

#searchInput {
  position: relative;
  width: 100%;
  padding: 25px 15px;
  border-radius: 20px;
  outline: 1px solid #999999;
  box-shadow: 4px 9px 30px -16px #000;
  background-color: #edfdff;
  transition: box-shadow 0.8s ease, outline 0.8s ease;
}
#searchInput::-webkit-search-cancel-button {
  display: none;
}

.favorites {
  margin-top: 15px;
}

.favorites__header {
  display: flex;
  justify-content: space-between;
}

.favorites__header-logo-text {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 4px 9px 30px -16px #000;
}

.header__text {
  font-family: Oxanium;
  font-weight: 200;
}

.favorites__header-text {
  margin-left: 25px;
}

.favorites__header-user {
  display: flex;
  align-items: center;
}

.favorites__header-user-img {
  background-color: #333333;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 20px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}
.favorites__header-user-img:hover {
  box-shadow: 0px 0px 0px 4px rgba(153, 153, 153, 0.3333333333);
}

#favoritesAvatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.favorites__hero {
  margin-top: 100px;
}

.favorites__main {
  margin-top: 30px;
  margin-bottom: 100px;
}

.favorites__add {
  display: none;
  text-align: center;
}
.favorites__add.active {
  display: block;
}

.favorites__add-text {
  font-size: 20px;
}

#addCoinLink {
  padding: 15px 20px;
  margin-top: 10px;
  background-color: #F7931A;
  color: #ffffff;
  border-radius: 20px;
  transition: opacity 0.3s ease;
}
#addCoinLink:hover {
  opacity: 0.6;
}

.favorites__title {
  font-size: 30px;
}

.favorites__coins {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites__coin-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}
.favorites__coin-inner:not(:first-child) {
  margin-top: 40px;
}

.favorites__coin-converter {
  width: 350px;
  padding: 0px;
  border: 1px solid #999999;
  border-radius: 20px;
  opacity: 0;
  max-height: 0;
  box-shadow: 4px 9px 30px -16px #000;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, max-height 0.8s ease, padding 0.5s ease;
}
.favorites__coin-converter.visible {
  max-height: 280px;
  opacity: 1;
  padding: 15px;
  pointer-events: auto;
}
.favorites__coin-converter .favorites__coin-converter-text {
  text-align: center;
}

.favorites__coin-converter-text {
  text-align: center;
  position: relative;
}
.favorites__coin-converter-text:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 90px;
  background-color: #F7931A;
  top: 25px;
  left: 115px;
}

.favorites__coin-converter-buy-input-inner,
.favorites__coin-converter-spend-input-inner {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  color: #999999;
}

.favorites__coin-converter-buy-input,
.favorites__coin-converter-spend-input {
  border: 2px solid #999999;
  border-radius: 20px;
  padding: 12px;
  color: #000000;
  font-weight: 600;
}

.favorites__coin-converter-price {
  margin-top: 15px;
}

.almost-equal {
  font-family: Montserrat;
}

.favorites__coin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  max-height: 140px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 9px 30px -16px #000;
  transition: transform 0.8s ease, margin-left 0.8s ease, max-width 0.8s ease, max-height 0.8s ease;
}
.favorites__coin.active {
  position: relative;
  margin-left: -310px;
  max-width: 440px;
  z-index: 10;
}
.favorites__coin.height {
  max-height: 420px;
}

.favorites__coin-name {
  font-size: 20px;
  font-weight: 700;
}

.favorites__coin-price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.favorites__coin-price .positive {
  color: #6ccf59;
  font-weight: 600;
}
.favorites__coin-price .negative {
  color: #ff4d4d;
  font-weight: 600;
}
.favorites__coin-price .time-frame {
  font-size: 12px;
  font-weight: 500;
  color: #999999;
}
.favorites__coin-price .change-font {
  font-family: Oxanium;
  margin-top: 2px;
}

.favorites__coin-title {
  font-size: 30px;
}

.favorites__coin-icon-name {
  display: flex;
}

.favorites__coin-icon {
  width: 25px;
  height: 25px;
}

.favorites__coin-name {
  margin-left: 10px;
}

.favorites__coin-price-inner {
  margin-top: 10px;
}

.favorites__more-details-btn {
  color: #F7931A;
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}
.favorites__more-details-btn .favorites__arrows-icon {
  background: url(../img/arrows-down.svg) 0px 0px no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.favorites__more-details-btn:hover {
  color: #d77907;
}
.favorites__more-details-btn:hover .favorites__arrows-icon {
  filter: brightness(0.8);
}

.favorites__details {
  position: relative;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.5s;
  opacity: 0;
}
.favorites__details.active {
  opacity: 1;
  max-height: 300px;
  margin-top: 10px;
  background-color: #ffffff;
}

.favorites__details-marketcap {
  font-size: 18px;
  font-weight: 600;
}

.favorites__details-percent-change {
  margin-top: 15px;
}
.favorites__details-percent-change .positive {
  color: #6ccf59;
}
.favorites__details-percent-change .negative {
  color: #ff4d4d;
}
.favorites__details-percent-change .change-font {
  font-family: Oxanium;
}

.settings {
  margin-top: 15px;
}

.settings__header {
  display: flex;
  justify-content: space-between;
}

.settings__header-logo-text {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 4px 9px 30px -16px #000;
}

.settings__header-text {
  margin-left: 25px;
}

.settings__header-user {
  display: flex;
  align-items: center;
}

.settings__header-user-img {
  background-color: #333333;
  box-shadow: 4px 9px 30px -16px #000;
  border-radius: 20px;
  margin-right: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}
.settings__header-user-img:hover {
  box-shadow: 0px 0px 0px 4px rgba(153, 153, 153, 0.3333333333);
}

#settingsAvatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.settings__main {
  margin-top: 100px;
}

.settings__title {
  font-size: 30px;
}

.loading {
  font-size: 25px;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-clip-path: inset(0 2ch 0 0);
          clip-path: inset(0 2ch 0 0);
  animation: loading 1s steps(4) infinite;
}
.loading::before {
  content: "In Progress . . .";
}

@keyframes loading {
  to {
    -webkit-clip-path: inset(0 -1ch 0 0);
            clip-path: inset(0 -1ch 0 0);
  }
}
.footer {
  background-color: #333333;
  padding-bottom: 30px;
}

.footer__content {
  margin-top: 30px;
  text-align: center;
}

.footer__title {
  font-size: 30px;
  color: #ffffff;
}

.footer__contact {
  margin-top: 20px;
  text-align: center;
}

.footer__contact-text {
  color: #ffffff;
}

.footer__icons {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.footer__icons a img {
  width: 40px;
  height: 40px;
}
.footer__icons a img:hover {
  filter: brightness(0.7);
}
.footer__icons a:not(:last-child) {
  margin-right: 15px;
}

.footer__copyright {
  margin-top: 15px;
  color: #999999;
  font-size: 16px;
}

body {
  font-family: "Poppins";
  color: #000000;
}

.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100svh;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.skeleton, .skeleton__img, .skeleton__medium, .skeleton__small {
  background: linear-gradient(90deg, #ccc 25%, #ddd 50%, #ccc 75%);
  background-size: 200% 100%;
  border-radius: 10px;
  animation: skeletonLoading 1.5s infinite linear;
}

.skeleton__small {
  width: 150px;
  height: 20px;
}

.skeleton__medium {
  width: 100%;
  height: 200px;
}

.skeleton__img {
  width: 100%;
  height: 150px;
}

@keyframes skeletonLoading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
#notification-container {
  display: none;
  position: absolute;
  right: 0;
  margin: 15px 15px 0 0;
  z-index: 99;
}

.notification {
  position: relative;
}
.notification:not(:first-child) {
  margin-top: 15px;
}